.main{
    background-color: var(--custom-color-surface);
    color: var(--custom-color-text);
}
h2{
    font-weight: 700;
    font-size: 36px;
}
.container-edit-size{
    max-width: 720px!important;
    background-color: var(--custom-color-default);
    padding: 16px;
    border-radius: 16px;
    box-shadow: rgba(14, 15, 16, 0.56) 0 8px 8px 8px;
}
.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio {
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    border: white solid 2px;
    display: inline-flex;
    padding: 12px;
    border-radius: 32px;
    margin: 8px;
    background-color: var(--custom-color-default);
    transition: 0.3s;
}
.custom-radio:hover{
    background-color: var(--custom-color-surface);
}

.radio-mark {
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    padding: 12px;
    align-items: center;
}

.custom-radio input[type="radio"]:checked + .radio-mark {
    background-color: var(--accent-color);
}

.custom-radio input[type="radio"]:checked +.radio-mark::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
}
/*character*/
.form-floating.w-100.m-auto.text-area.align-items-center textarea{
    background-color: var(--custom-color-surface);
    color: var(--custom-color-text);
    border-radius: 16px;
    border: none;
    resize: none;
    height: 120px;
    width: 75%;
    margin: auto;
}
.form-floating.w-100.m-auto.text-area.align-items-center textarea::placeholder{
    color: var(--custom-color-text-de-active);
}
.form-floating.w-100.m-auto.text-area.align-items-center textarea:focus{

}

/*******************/
/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
    display: none;
}

/* Style the custom checkbox */
.custom-checkbox {
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
    border: white solid 2px;
    display: inline-flex;
    padding: 12px;
    border-radius: 32px;
    margin: 8px;
    background-color: var(--custom-color-default);
    transition: 0.3s;
}

.checkmark {
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid var(--accent-color);
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
}

/* Style for the checked state */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: var(--accent-color);
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 2px;
}

button[type=submit]{
    padding: 12px 42px;
    text-align: center;
    background-color: var(--custom-color-default)!important;
    border: var(--custom-color-text) solid 2px;
    border-radius: 36px;
    font-size: 24px;
    font-weight: 700;
    color: var(--custom-color-text);
}
button[type=submit]:hover{
    background-color: var(--custom-color-surface)!important;
    border: var(--custom-color-text) solid 2px;
}
#bg-video {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
}
main.main.bg-dark{
    position: absolute;
    z-index: 999;
    width: 100%;
    margin: auto;
    background-color: rgba(14, 15, 16, 0.11);
}

